<template>
  <v-app>
    <v-navigation-drawer
      app
      v-model="drawer"
      clipped
      dense
    >
      <v-container>

        <v-list nav dense>
          <v-list-group
            v-for="nav_list in nav_lists"
            :key="nav_list.name"
            :prepend-icon="nav_list.icon"
            no-action
            :append-icon="nav_list.lists ? undefined: ''"
          >
            <template v-slot:activator> 
              <v-list-item-content>
                <v-list-item :to="nav_list.link">
                  <v-list-item-title>{{nav_list.name}}</v-list-item-title>
                </v-list-item>
              </v-list-item-content>
            </template>

            <v-list-item v-for="list in nav_list.lists" :key="list" :to="list.link">
              <v-list-item-content>
                <v-list-item-title>{{list.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

          </v-list-group>
        </v-list>
      </v-container>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="grey darken-3"
      dark
      clipped-left
    >
      <v-app-bar-nav-icon
        @click="drawer=!drawer"
      >
      </v-app-bar-nav-icon>
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2 ml-5"
        contain
        :src="header_logo"
        transition="scale-transition"
        width="40"
      />
      <v-toolbar-title>
        Title
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <AuthenticationWall
        :options="options"
      >
        <router-view/>
      </AuthenticationWall>
    </v-main>
  </v-app>
</template>

<script>
import AuthenticationWall from '@moreillon/vue_authentication_wall_vuetify'

export default {
  name: 'App',

  components: {
    AuthenticationWall,
  },

  data(){
    return {
      drawer: null,
      nav_lists:[
        {name:"Home", icon:"mdi-home", link:"/"},
        {name:"Login", icon:"mdi-login", link:"/about"},
        {name:"hoge1", icon:"mdi-vuetify", lists:[
          {name:"hogehoge1", icon:"", link:"/"},
          {name:"hogehoge2", icon:"", link:"/"}
        ]},
      ],
      options: {
        login_url: `${process.env.VUE_APP_AUTH_API_URL}/login`,
        identification_url: `${process.env.VUE_APP_AUTH_API_URL}/whoami`,
      },
      header_logo: require('@/assets/tachi_logo_white.svg'),
      authentication_logo: require('@/assets/tachi_logo_black.svg'),
    }
  }
};
</script>
